body {
	margin: 0;
	font-family: 'Roboto', sans-serif;

}
header {
	width: 100%;
	position: fixed;
	background-color: #F71735;
	text-align: center;
	padding: .5em;
	top: 0;
	left: 0;
	z-index: 1;
}
main {
		width: 50ch;
		background-color: #31D182;
		padding: 1em;
		margin: auto;
		margin-top: 2em;
		
}

button {
  background-color: #31D182;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
	color: white;
	background-color: #F71735;
}
button:active {
	top:0.1em;
}




#create-post-popup {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 50ch;
	padding: 1em;
	margin-top: 2em;
	background-color: #38C8D1;
}


	
#save-post-button {
	margin-left: 2.7em;
	
}

#cancel-post-button {
	
}

#post-template {
	display: none;
}

#post-template, .post {
	position: relative;
	background-color: #ffffff;
	margin-bottom: .1em;
	padding: 1em;
}

.add-post-comment {
	
	
}

.post-content {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	
}
.number-of-comments {
	
}

#add-post {
	
}
#search {
	
}

.username {
	
}

.editable {
	float: right;
	
}


#create-post-popup textarea {
	display: block;
	min-width: 100%;
	max-width: 100%;
}


	

.show-add-popup {
	margin-top: 0;
	display: block !important;
}

.main-add-popup {
margin-top: 0;
}
